<div class="home-container">
  <div class="row-with-vertical-centered-items">
    <button class="main-button" (click)="buttonClicked()">שלח דיווח</button>
    <button class="main-button" (click)="buttonClicked()">תמוך בעוטף</button>
    <input id="file" type="file" accept="image/*" capture="environment" (change)="reportService.captureImage($event)">
  </div>
  <div class="row-with-vertical-centered-items">
    <button class="police-button" (click)="buttonClicked()">
      <a href="tel:+972100" class="phone-call">משטרה</a>
    </button>
    <button class="fire-service-button" (click)="buttonClicked()">
      <a href="tel:+972102" class="phone-call">מכבי אש</a>
    </button>
  </div>
</div>
