<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <a class="btn btn-block btn-social btn-facebook" (click)="checkLogin()">
    <i class="fa fa-facebook"></i> Sign in with Facebook
  </a>
  <!--<a href="#" class="fa fa-facebook"></a>-->
  <!--<div (click)="checkLogin()" class="facebook-button">-->
    <!--Login with Facebook-->
  <!--</div>-->

<!--<div class="home-container">-->
  <!--<div class="row-with-vertical-centered-items">-->
    <!--<button class="main-button"-->
            <!--(click)="moveToMapScreen()">-->
      <!--<h3 class="main-button-text">!Report pest</h3>-->
    <!--</button>-->
  <!--</div>-->
<!--</div>-->
