<div class="home-container">
  <div class="row-with-vertical-centered-items">
    <button class="main-button"
            (click)="moveToMapScreen()">
      <h1 class="main-button-text">יאללה דווח!</h1>
    </button>
  </div>
  <div class="row-with-vertical-centered-items" style="justify-content: space-evenly;">
    <div class="rescue-forces-button-container">
      <a href="tel:+972102"><button class="fire-fighters-button"></button></a>
      <h3>כבאות והצלה</h3>
    </div>
    <div class="rescue-forces-button-container">
      <a href="tel:+972100"><button class="police-button"></button></a>
      <h3>משטרה</h3>
    </div>
    <div class="rescue-forces-button-container">
      <a href="tel:+972101"><button class="mda-button"></button></a>
      <h3>מד"א</h3>
    </div>
  </div>
</div>
