.bg-os {
  width: 100%;
  height: 100%;
  background: url(/assets/bg-ios.png);
  background-size: cover;
  position: absolute;
  z-index: -1;
}

button {
  background: url(/assets/button.png);
  margin: 0 auto;
  text-align: center;
  display: block;
  top: 200px;
  position: relative;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  border: none;
  color: white;
  font-size: 20px;
  line-height: 255px;
}

input {
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}