@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}

.header-text {
  justify-content: center;
  flex-direction: column-reverse;
  display: flex;
  cursor: pointer;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 10px grey;
  height: 50px;
}
.header-text:hover {
  background: rgba(59, 89, 152, .1);
}
input {
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
}

.home-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: calc(100vh - 80px);
}



@mixin report-button {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: none;
  font-size: 24px;
  color: white;
  box-shadow: 3px 3px 10px grey;
  margin: auto; outline: none;
}

@font-face {
  font-family: matka;
  src: url(/assets/fonts/TsMatka-Regular.ttf);
}

.main-button{
  background-image: url(/assets/new-design-assets/report-button-asset.svg);
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  color: white;
  font-family: matka, sans-serif;
  font-size: 3em;
}

.main-button-text{
  padding-top: 110px;
}

@mixin rescue-forces-buttons {
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  background: transparent no-repeat;
  outline: none;
}

.login-facebook-text {
  color: #3b5998;
  font-family: HelveticaNeueW01-55Roma, HelveticaNeueW02-55Roma, HelveticaNeueW10-55Roma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
  width: 239px;
  height: 46px;
  padding-left: 58px;
  border: 1px solid #3b5998;
}

.fire-fighters-button{
  @include rescue-forces-buttons();
  background-image: url(/assets/new-design-assets/fire-fighters-button.svg);
}

.police-button{
  @include rescue-forces-buttons();
  background-image: url(/assets/new-design-assets/police-button.svg);
}

.mda-button{
  @include rescue-forces-buttons();
  background-image: url(/assets/new-design-assets/mda-button.svg);
}

.rescue-forces-button-container{
  display: grid;
  text-align: center;
  font-family: matka, sans-serif;
}
