<h1 class="title">
  צלם
</h1>

<div class="webcam" style="margin: auto; alignment: center" id="camera">

    <webcam [height]="200" [width]="200" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
    ></webcam>
    <div class="snapshot" *ngIf="webcamImage" style="width: 10%; height: 10%">
      <img [src]="webcamImage.imageAsDataUrl"/>
    </div>

</div>

<br/>

<div style="margin:0 auto; alignment: center">
  <button class="finish-button" (click)="triggerSnapshot();">Capture</button>
  <br/>
  <br/>
  <button class="finish-button" (click)="done();">Done</button>
</div>




<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>

