<div class="ending-page-wrapper">
  <div class="ending-page-column" style="height: 28vh;">
    <div class="ending-page-main-title">הדיווח נשלח בהצלחה</div>
    <div class="row-with-vertical-centered-items" style="margin: auto; justify-content: space-between">
      <button class="main-button-mini"
              (click)="reportService.sendInitialReportAndMoveToMapScreen()">
        <h5 class="main-button-mini-text">יאללה דווח!</h5>
      </button>
      <a *ngIf="reportService.currLocation" style="width: 100px;height: 100px"
         href="https://api.whatsapp.com/send?text={{ reportService.getWhatsappSharingUrl() }}">
        <img src="/assets/whatsapp.svg"/>
      </a>
    </div>

  </div>
  <div class="ending-page-column" style="height: 35vh;
    justify-content: space-between;">
    <div class="ending-page-column balloon-icon-wrapper">
      <span class="balloon-icon-text">זה סופו של כל בלון</span>
    </div>
    <div class="row-with-vertical-centered-items" style="justify-content: space-evenly; flex-wrap: wrap;">
      <div class="row-with-vertical-centered-items credit-logo" style="justify-content: space-between;width: 145px;">
        <img class="unit-icon" src="/assets/OfekUnit.png"/>
        <img class="unit-icon" src="/assets/Bamza_108.png"/>
      </div>
      <img class="credit-logo" src="/assets/technology_for_israel.png"/>
    </div>
    <div class="row-with-vertical-centered-items"
         style="justify-content: space-evenly;flex-wrap: wrap;padding-bottom:20px;">
      <img class="credit-logo" src="/assets/scenaric-logo.png"/>
      <img class="credit-logo" src="/assets/sayvu.png"/>

    </div>
  </div>
</div>
