<div class="map-page">
  <div class="header row-with-vertical-centered-items">

    <button class="kite" style="outline: none;" (click)="changeEventType(EVENT_TYPE_BUTTON.KITE)"
            [ngClass]="eventType === EVENT_TYPE_BUTTON.KITE?'kite-checked':'kite'"></button>
    <button class="fire" style="outline: none;" (click)="changeEventType(EVENT_TYPE_BUTTON.FIRE)"
            [ngClass]="eventType === EVENT_TYPE_BUTTON.FIRE?'fire-checked':'fire'"></button>
    <button class="balloon" style="outline: none;" (click)="changeEventType(EVENT_TYPE_BUTTON.BALLOON)"
            [ngClass]="eventType === EVENT_TYPE_BUTTON.BALLOON?'balloon-checked':'balloon'"></button>
    <div style="margin-left: 10%"><h3>:Filter by</h3></div>
  </div>
  <agm-map [latitude]="currentLocation.latitude" [longitude]="currentLocation.longitude" [zoom]="zoom"
           [zoomControl]="false"
           gestureHandling="greedy"
           [mapTypeId]="mapTypeId"
           [usePanning]="true"
           (mapClick)="mapClicked($event)">
    <agm-marker
      [latitude]="currentLocationMarker.latitude"
      [longitude]="currentLocationMarker.longitude"
      [iconUrl]="currentLocationMarker.iconUrl">
    </agm-marker>
    <agm-marker
      [latitude]="selectedLocationMarker.latitude"
      [longitude]="selectedLocationMarker.longitude"
      [iconUrl]="getMarkerIconByEventType()"
      (markerClick)="markerClicked($event)">
    </agm-marker>
    <agm-marker
      *ngFor="let m of markers; let i = index"
      [latitude]="m.latitude" [longitude]="m.longitude" [iconUrl]="m.iconUrl">
      <agm-info-window>
        <marker-description [marker]="m"></marker-description>
      </agm-info-window>
    </agm-marker>
    <core-map-content (onMapLoad)="loadAPIWrapper($event)"></core-map-content>
  </agm-map>

  <img (click)="goToCurrentLocation()" class="location-button" src="/assets/new-design-assets/gps-button.png"/>
  <div class="footer">
    <div class="location-text">{{locationName}}</div>
    <div class="row-with-vertical-centered-items wide-report-button-container">
      <button class="wide-report-button" (click)="completeReport()">
        Report
      </button>
    </div>

  </div>
</div>
