.google-map {
  width: 100%;
  height: 100%;
  position: inherit !important;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  direction: rtl;
  z-index: 1;
}

.header .header-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.75;
  z-index: 1;
}

.information ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.information li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.header > img {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
  padding: 0.5rem;
  position: relative;
}

.header > span {
  font-size: 1.3rem;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
  width: 60%;
  position: relative;
  font-family: sans-serif;
}

.header > button {
  display: block;
  position: absolute;
  right: 100px;
  padding: 5px 20px;
  border-radius: 15px;
  border: 2px solid darkgrey;
  background-color: transparent;
  font-weight: bold;
  bottom: 5px;
  z-index: 2;
}

.header .hint {
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-top: 2rem;
  padding: 20px;
  font-family: sans-serif;
  font-size: 24px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer > button {
  width: 70px;
  height: 70px;
  background-image: url(/assets/send.svg);
  background-color: #037c6d;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
  padding: 0.5rem;
  border-radius: 45px;
  border: none;
  z-index: 5;
  bottom: 15px;
  position: absolute;
  left: 15px;
}

agm-map{
  height: 100vh;
}
