<div class="map-page">
  <div class="header">
    <span>סמן בלחיצה את מיקום השריפה</span>
    <img (click)="getLocation()" style="cursor: pointer;vertical-align: middle" src="/assets/icons8-hunt-50.png"/>
    <div class="header-bg"></div>
  </div>
  <div class="coordinates-container">
    <input type="text" class="coordinates-input" maxlength="9"
           [(ngModel)]="selectedLocationMarker.longitude"
           (ngModelChange)="setSelectedLongitude($event)"
           placeholder="קו אורך">
    <input type="text" class="coordinates-input" maxlength="9"
           [(ngModel)]="selectedLocationMarker.latitude"
           (ngModelChange)="setSelectedLatitude($event)"
           placeholder="קו רוחב">
  </div>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"
           gestureHandling="greedy"
           mapTypeId="satellite"
           (mapClick)="mapClicked($event)">
    <agm-marker
      [latitude]="currentLocationMarker.latitude"
      [longitude]="currentLocationMarker.longitude"
      [iconUrl]="currentLocationMarker.iconUrl">
    </agm-marker>
    <agm-marker
      [latitude]="selectedLocationMarker.latitude"
      [longitude]="selectedLocationMarker.longitude"
      [iconUrl]="selectedLocationMarker.iconUrl">
    </agm-marker>
    <agm-marker
      *ngFor="let m of markers; let i = index"
      [latitude]="m.latitude" [longitude]="m.longitude" [iconUrl]="m.iconUrl">
      <agm-info-window>
        <marker-description [marker]="m"></marker-description>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  <div class="footer">
    <button [disabled]="!isSelectedLocationValid()" (click)="goToCommentScreen()"></button>
  </div>
</div>
