<!-- Modal -->
<div class="modal fade" id="phoneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="margin: auto;" class="modal-title" id="exampleModalLabel">בשביל להילחם ביחד, כדאי שנכיר</h5>
      </div>
      <div style="direction: rtl;" class="modal-body">
        מה מספר הפלאפון שלך?
        <input type="number" class="input-medium bfh-phone" [(ngModel)]="userPhoneNumber" />
      </div>
      <div style="direction: rtl;" class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="savePhoneNumber()">סיימתי</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="direction: rtl; text-align: center; margin: auto; width: -webkit-fill-available;" class="modal-title" id="exampleModalLabel">זיהית גורם מסוכן?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="direction: rtl; text-align: center;">
        <img [src]="url" id="image" style="width:75%;height:75%">
        <textarea [(ngModel)]="description" rows="3" cols="35"></textarea>
      </div>
      <div style="direction: rtl;" class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="upload()">העלה תמונה</button>
      </div>
    </div>
  </div>
</div>

<button (click)="sendLocation()">asdfsad</button>
<div *ngIf="!isIOSPhone">
  <video #video id="video" width="100%" height="100%" autoplay></video>

  <div class="btn-group" role="group" aria-label="Basic example" style="top: 5%;
      left: 20%;
      transform: translate(-10%, -10%);
      -ms-transform: translate(-10%, -10%);
      position: absolute;
      width: 7%;
      height: 10%;">
    <button type="button" class="btn btn-secondary" (click)="capture()">
      <img style="width: 50%; height: 50%" src="https://cdn4.iconfinder.com/data/icons/photos-and-pictures/60/camera_sign_copy-512.png"/>
      <br/>
      Capture
    </button>
  </div>
</div>
<!-- <input class="btn btn-primary" type="file" accept="image/*,video/*" capture (change)="onSelectFile($event)"> -->
<div class="custom-file" style="text-align: center;">
  <input style="width: 50%;" capture (change)="onSelectFile($event)" type="file" class="custom-file-input" accept="image/*,video/*">
  <label class="custom-file-label" for="customFile">Choose file</label>
</div>
<div class="alert alert-primary" role="alert">
  <b>Longtitude:</b>
  <div #gpsLongtitude id="gpsLongtitude"></div>
  <b>Latitude:</b>
  <div #gpsLatitude id="gpsLatitude"></div>
</div>
<div class="alert alert-primary" role="alert">
  <b>Phone Number:</b> {{ userPhoneNumber }}
</div>
<div class="alert alert-primary" role="alert">
  <b>North Degrees:</b>
  <div>{{currAzimuth}}</div>
  <div *ngIf="isRelativeAzimuth">(relavtive north)</div>
</div>

<!-- <app-ui-top-navigation></app-ui-top-navigation>

<app-ui-sub-navigation [title]="(observable$ | async)?.title" [description]="(observable$ | async)?.text"></app-ui-sub-navigation>
-->
<!-- <div class="main">
  <router-outlet></router-outlet>
</div>

<router-outlet name='modal'></router-outlet> -->