<!-- <app-ui-top-navigation></app-ui-top-navigation>

<app-ui-sub-navigation [title]="(observable$ | async)?.title" [description]="(observable$ | async)?.text"></app-ui-sub-navigation>
-->

<video #video width="100%" height="100%" autoplay></video>
<button style="
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    -ms-transform: translate(-10%, -10%);
    background-color: #555;
    color: white;
    font-size: 60px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;">Send</button>
<h2>{{location}}</h2>
<!-- <div class="main">
  <router-outlet></router-outlet>
</div>

<router-outlet name='modal'></router-outlet> -->
