.main {
  width: 800px;
  padding: 20px;
}

.main-container{
  background-image: url(/assets/imageedit_1_8551196791.png);
  background-size: cover;
  min-height: 100vh;
  z-index: -1;
}

.main-content {
  margin: 30px auto 0 auto;
  text-align: right;
}

.header {
  width: 100%;
  box-shadow: 0 0 10px grey;
  height: 50px;
}

.header .icon {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-image: url(/assets/colored-balloon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: 5px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #037c6d;
  background-size: 50%;
  cursor: pointer;

}

.loading-screen {
  width: 100%;
  height: 100%;
  background: url(/assets/loading-screen-portrait.png);
  background-size: cover;
  position: absolute;
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .loading-screen {
    width: 100%;
    height: 100%;
    background: url(/assets/loading-screen.png);
    background-size: cover;
    position: absolute;
    z-index: 5;
  }
}

.home-icon{
  position: absolute;margin-left: 3%;
}
