<div class="capture-page">
  <pre>{{ aaa | json }}</pre>
  <div class="index-video-wrapper" *ngIf="!imageBase64">
    <video #video autoplay id="index-video"></video>
  </div>
  <div class="index-image-wrapper" *ngIf="imageBase64">
    <img [src]="imageBase64">
  </div>
  <label class="file-container">
    <input type="file" (change)="onSelectFile($event)" type="file" accept="image/*,video/*"/>
  </label>

  <div class="footer">
    <input placeholder="הוסף הערה... (רק אם בא לך)" />
    <button (click)="goToMapScreen()"></button>
  </div>

</div>
