.bg-os {
  width: 100%;
  height: 100%;
  background: url(/assets/bg-ios.png);
  background-size: cover;
  position: absolute;
  z-index: -1;
  opacity: 0.4;
}

.text-center {
  text-align: center;
}

.content {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  direction: rtl;
  padding: 30px;
}

.header {
  width: 100%;
  box-shadow: 0 0 10px grey;
  height: 50px;
}

.header .icon {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-image: url(/assets/colored-balloon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: 5px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #037c6d;
  background-size: 50%;
}

.title {
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
}

.factor-icons {
  text-align: -moz-center;
}

.factor-icons .factor-icon {
  display: inline-block;
  width: 30%;
  height: 100px;
  margin: 5px;
}

.factor-icons .factor-icon .icon {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 50px;
  background-color: #037c6d;
  background-size: 50%;
}

.factor-icons .factor-icon span {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.factor-icons .factor-icon.fire .icon {
  background-image: url(/assets/colored-fire.svg);
}

.factor-icons .factor-icon.balloon .icon {
  background-image: url(/assets/colored-balloon.svg);
}

.factor-icons .factor-icon.kite .icon {
  background-image: url(/assets/colored-kite.svg);
}

.comment textarea {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid gray;
  padding: 5px;
}

.buttons {
  margin: 0 auto;
  text-align: center;
}

.buttons button {
  background: transparent;
  border: 1px solid black;
  padding: 10px 20px;
}

.buttons button:first-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius:10px;
}

.buttons button:last-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.finish-button {
  display: block;
  margin: 20px auto;
  background-color: #037c6d;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  font-size: 24px;
  color: white;
  box-shadow: 3px 3px 10px grey;
}

.size {
  margin-top: 15px;
}