<div class="comment-page">
  <div class="bg-os"></div>
  <div class="header">
    <div class="icon"></div>
  </div>
  <div class="content">
    <div class="title">למילוי פרטים נוספים על הדיווח:</div>
    <div class="factor text-center">הגורם המאיים</div>
    <div class="factor-icons">

      <div class="factor-icon fire">
        <div class="icon select-circle selected"></div>
        <span>שרפה</span>
      </div>

      <div class="factor-icon balloon">
        <div class="icon select-circle"></div>
        <span>בלון</span>
      </div>

      <div class="factor-icon kite">
        <div class="icon select-circle"></div>
        <span>עפיפון</span>
      </div>

    </div>

    <div class="comment">
      <label>
        <span>הערות</span>
        <textarea></textarea>
      </label>
    </div>

    <div class="size">
      <span>גודל השרפה</span>
      <div class="buttons">
        <button>גדולה</button>
        <button>בינונית</button>
        <button>קטנה</button>
      </div>
    </div>

    <button class="finish-button" (click)="goHome()">סיימתי</button>
  </div>
</div>
