<div class="comment-page">
  <div class="bg-os"></div>
  <div class="header">
    <div class="icon"></div>
  </div>
  <div class="content">
    <div class="title">למילוי פרטים נוספים על הדיווח:</div>
    <div class="factor mini-header">הגורם המאיים</div>
    <div class="factor-icons radio-group">
      
      <div class="factor-icon fire">
        <div (click)="chooseCategory('שריפה')"class="icon select-circle radio" data-value="fire"></div>
        <span>שריפה</span>
      </div>

      <div class="factor-icon balloon">
        <div (click)="chooseCategory('בלון')" class="icon select-circle radio selected" data-value="balloon"></div>
        <span>בלון</span>
      </div>

      <div class="factor-icon kite">
        <div (click)="chooseCategory('עפיפון')" class="icon select-circle radio" data-value="kite"></div>
        <span>עפיפון</span>
      </div>

    </div>

    <div class="comment">
      <label>
        <span class="block mini-header">הערות</span>
        <textarea [(ngModel)]="description"></textarea>
      </label>
    </div>

    <div class="size hidden">
      <span class="mini-header">גודל השרפה</span>
      <div class="buttons radio-group">
        <button class="radio">גדולה</button>
        <button class="radio">בינונית</button>
        <button class="radio">קטנה</button>
      </div>
    </div>

    <div class="height">
      <span class="mini-header">גובה מוערך</span>
      <div class="buttons radio-group">
        <button class="radio">גבוה</button>
        <button class="radio">בינוני</button>
        <button class="radio">נמוך</button>
        <button class="radio">על הקרקע</button>
      </div>
    </div>

    <div style="margin-right: 40%" class="btn-group" role="group" aria-label="Basic example">
      <button class="finish-button" (click)="goToEndingPage()">סיימתי</button>
      <a *ngIf="this.reportSrv.currLocation" href="https://api.whatsapp.com/send?text={{ makeUserMessage() }}"><img class="share" src="/assets/whatsapp.png" /></a>   
    </div>
    
  </div>
</div>
